body{
    margin:0;
    padding:0;
    background: url("PICTURES/doctor-6676747_960_720.webp") no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    font-size: 20px;
    color: black;
    text-decoration: none;

}
* {
    padding: 0px;
    margin: 0px;

}
a {
    color: black;
}
table,th {
    border-color: black;
    height: 4%;
}
.main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
}
.header {
    width: 100%;
    height: 8%;
    padding-bottom: 1%;
    position: relative;
    color: rgb(0, 107, 107);
  }
.headertext {
    position: absolute;
    bottom: 5%;
    left: 1%;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 30pt;
}
.update {
    position: relative;
    height: 110px;
}

.tspace {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.tspace:hover {
    opacity: 0.5;
}
img{
    max-width: 100%; 
    transition: transform .2s;
    width:10;
}
img:hover{
    transform: scale(1.1);
}
.bar {
    background-color: #9fa2a7;
    height: 2px;
}
.kon{
    background: url("pictures/linia.png");
    background-size: 100% 100%;
}
.textt {
    color: black;

    text-decoration-color: aqua;
    background: rgba(255, 255, 255, 0.65);
    margin-top: 10px;
}